.main {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -125px 0 0 -125px;
  border: 4px solid ;
  border-radius: 20px;
  min width: 250px;
}

.main1 {
  margin: 10%;
}

h1 {
  margin: 10%;
}

.input1 {
  display: flex;
}

.add {
  border-top-left-radius: none;
}

